body{
    height: calc(100vh - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count{
    font-size: 4rem;
}

.title{
    font-size: 3rem ;
}

.container .btn {
    font-size: 2rem;
}